.custom-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #191716, #ec4e08);
  color: #fff;
  padding: 12px 0;
}
.btn {
  border-color: transparent;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 35px;
  font-size: 14px;
  font-weight: 400px;
  padding: 3px 11px;
}

h5 {
  font-size: 1rem;
  margin: 0;
}
