.product-container {
  padding: 0 20px;
}
.product-container h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.product-container h4 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.product-info {
  padding: 15px;
}
.price-container {
  display: flex;
  align-items: baseline;
}
.price-container span {
  margin-right: 5px;
}
.price-container .actual-price {
  font-weight: 700;
}
.price-container .compare-at-price {
  font-size: 0.82rem;
  font-weight: 300;
  text-decoration-line: line-through;
}
.price-container .percentage-off {
  color: red;
  font-size: 0.82rem;
  font-weight: 300;
}
.products-in-row {
  padding: 0 10px;
}
.products-in-row img {
  height: auto;
  width: 100%;
}

.card {
  border: 1px solid transparent;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .custom-container {
    padding: 12px !important;
    flex-wrap: wrap !important;
  }
  .custom-container button {
    margin: 0;
    margin-top: 10px;
  }
  .product-container .filter-options {
    max-width: 43%;
  }
  .product-container .dropdown {
    max-width: 56%;
  }
  .filter-options .buttons-container button {
    margin-bottom: 5px;
    padding: 5px 10px;
  }
}
